<header class="header">
  <div class="logo">LUXE</div>
  <nav class="nav">
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/posts" routerLinkActive="active">Posts</a>
    <a routerLink="/albums" routerLinkActive="active">Albums</a>
    <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
  </nav>

  <div class="srt-button">Get Started!</div>
</header>
<div class="spacingHeader"></div>