<header class="header">
  <div class="logo">qdz</div>

  <div class="header-right">
    <div class="search-container">
      <i class="fas fa-search"></i>
      <input type="text" class="search-box" placeholder="Tìm kiếm..." />
    </div>

    <div class="user-menu">
      <i class="fas fa-user-circle user-icon" (click)="togglePopup()"></i>

      <div class="popup-menu" *ngIf="isPopupOpen">
        <a routerLink="/profile">👤 Profile</a>
        <a (click)="logout()">🚪 Logout</a>
      </div>
    </div>
  </div>
</header>
<div class="spacingHeader"></div>