<div class="post-card">
  <div class="post-header">
    <img src="https://i.pravatar.cc/50?u=post" alt="User" class="avatar" />
    <div>
      <h3>{{ post.title }}</h3>
      <p class="author">by User #{{ post.userId }}</p>
    </div>
  </div>
  <p class="post-body">{{ post.body }}</p>
</div>

<div class="comments-section">
  <h4>💬 Comments</h4>
  <div *ngFor="let c of comments" class="comment-card">
    <img src="https://i.pravatar.cc/40?u={{c.email}}" alt="User" class="avatar" />
    <div class="comment-content">
      <p class="comment-author">{{ c.name }}</p>
      <p class="comment-text">{{ c.body }}</p>
      <span class="comment-email">{{ c.email }}</span>
    </div>
  </div>
</div>
