/* Container */
.posts-container {
  position: relative;
  padding: 30px 20px 80px;
  margin: 10px auto;
  color: #fff;
  border-bottom: 1px solid #615f5f;
}

.container-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Post grid */
.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.post-card {
  background: #0f0f0f;
  padding: 20px;
  border: 1px solid #464646;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-card:hover {
  background-color: #1a1a1a;
  transform: translateY(-6px);
}

/* Category tag */
.category {
  display: inline-block;
  font-size: 12px;
  background: #222;
  padding: 4px 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #bbb;
}

/* Title & text */
.post-card h3 {
  font-size: 18px;
  margin: 5px 0;
  color: #fff;
}

.post-card p {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 15px;
}

/* Footer */
.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #ccc;
}

.author-info {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 10px; /* Giới hạn kích thước author name */
}

.author-info .avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #444;
}

.meta {
  /* display: flex; */
  /* align-items: center; */
  /* gap: 10px; */
}

.meta-item {
  display: flex;
  margin-top: 2px;
  gap: 5px;
}

/* Pagination */
.pagination-controls {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  color: #fff;
}

.pagination-controls button {
  padding: 6px 12px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  background: #111;
  color: rgb(201, 201, 201);
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination-controls button:hover {
  color: #fff;
}

/* Responsive */
@media (max-width: 768px) {
  .posts-grid {
    grid-template-columns: 1fr;
  }
}
