<div class="sidebar" [class.closed]="isSidebarClosed">
  <!-- Header -->
  <div class="sidebar-header">
    <button class="toggle-sidebar" (click)="toggleSidebar()">
      <i class="fas fa-bars"></i>
    </button>
    <a routerLink="/" class="logo" *ngIf="!isSidebarClosed">
      <span>QDZ api</span>
    </a>
  </div>

  <!-- Main Menu -->
  <nav class="menu">
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active" class="menu-item">
          <i class="fas fa-house"></i>
          <span *ngIf="!isSidebarClosed">Home</span>
        </a>
      </li>
      <li>
        <a routerLink="/resources" routerLinkActive="active" class="menu-item">
          <i class="fas fa-database"></i>
          <span *ngIf="!isSidebarClosed">Resources</span>
        </a>
      </li>
      <li>
        <a routerLink="/routes" routerLinkActive="active" class="menu-item">
          <i class="fas fa-diagram-project"></i>
          <span *ngIf="!isSidebarClosed">Routes</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Resources -->
  <div class="resources">
    <h4 *ngIf="!isSidebarClosed">Resources</h4>
    <ul>
      <li *ngFor="let r of resources">
        <a [routerLink]="r.link" routerLinkActive="active" class="menu-item">
          <i [class]="r.icon"></i>
          <span *ngIf="!isSidebarClosed">{{ r.name }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
