body,
html {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.layout {
  display: flex;
  width: 100%;
  flex: 1;
  height: calc(100vh - 80px);
  overflow: hidden;
  /* tránh tràn ngang */
}

/* content chiếm toàn bộ khoảng trống còn lại */
.content {
  overflow-y: auto;
  transition: all 0.3s ease;
  /* hiệu ứng mượt */
  /* padding: 0 20%; */


  /* ẩn thanh cuộn */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE, Edge */
}

.router-wrapper {
  padding: 0 20%;
  transition: all 0.3s ease-in-out;
  margin: 35px 0;
}

/* Responsive */
@media (max-width: 1600px) {
  .router-wrapper {
    padding: 0 10%;
  }
}
@media (max-width: 1300px) {
  .router-wrapper {
    padding: 0 2%;
  }
}