.hero {
  position: relative;
  height: 200px;
  /* background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.2)),
    url('https://images.unsplash.com/photo-1600585154340-be6161a56a0c') center/cover no-repeat; */
  background: linear-gradient(to right, #000000, #2a4855);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.content {
  position: relative;
  text-align: center;
  padding: 0 20px;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 8px;
}

h1 span {
  color: #f0b53b;
}

p {
  font-size: 14px;
  color: #e1e1e1;
}