<footer class="footer">
  <div class="footer-container">
    <div class="footer-brand">
      <h1 style="color: #f0b53b;">PrP</h1>
      <p>Fetching placeholder data made easy with API Placeholder.</p>
      <div class="social-icons">
        <span *ngFor="let i of icons">
          <i class="{{ i }}"></i>
        </span>
      </div>

    </div>

    <div *ngFor="let items of FooterItems" class="footer-col">
      <h4>{{ items.title }}</h4>
      <ul>
        <li *ngFor="let item of items.links">
          <span>{{ item }}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 LUXE. All rights reserved.</p>
    <div class="footer-links">
      <a routerLink="">Privacy Policy</a>
      <a routerLink="">Terms of Service</a>
    </div>
  </div>
</footer>