:host {
  --sidebar-bg: #111;
  --sidebar-text: #b6b6b6;
  --sidebar-hover: #1f1f1f;
  --sidebar-accent: #f0b53b;
  --sidebar-border: #2c2c2c;
}

/* Sidebar */
.sidebar {
  width: 180px;
  height: 100vh;
  background: var(--sidebar-bg);
  color: var(--sidebar-text);
  padding: 20px;
  transition: width 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--sidebar-border);
  box-shadow: 2px 0 51px rgba(98, 98, 98, 0.1);
}

.sidebar.closed {
  width: 45px;
}

/* Sections */
.sidebar>* {
  border-bottom: 1px solid var(--sidebar-border);
  padding-bottom: 15px;
  margin-bottom: 25px;
}

/* Header */
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
  text-transform: uppercase;
}

.logo {
  color: var(--sidebar-accent);
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.toggle-sidebar {
  background: var(--sidebar-accent);
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

/* ---------------- Menu chung ---------------- */
.menu-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  border-radius: 6px;
  font-size: 15px;
  color: var(--sidebar-text);
  transition: background 0.2s, color 0.2s;
}

.menu-item:hover,
.menu-item.active {
  background: var(--sidebar-hover);
  color: #fff;
}