<div class="sidebar" [class.closed]="isSidebarClosed" *ngIf="screenWidth >= 768">
  <!-- Header -->
  <div class="sidebar-header">
    <a routerLink="/" class="logo" *ngIf="!isSidebarClosed">
      <span>QDZ api</span>
    </a>
    <button class="toggle-sidebar" (click)="toggleSidebar()">
      <i *ngIf="!isSidebarClosed" class="fa-solid fa-arrow-left"></i>
      <i *ngIf="isSidebarClosed" class="fa-solid fa-arrow-right"></i>
    </button>
  </div>

  <!-- Main Menu -->
  <div class="menu">
    <h4 *ngIf="!isSidebarClosed">Menu</h4>
    <ul>
      <li *ngFor="let m of menu">
        <a [routerLink]="m.link" routerLinkActive="active" class="menu-item">
          <i [class]="m.icon"></i>
          <span *ngIf="!isSidebarClosed">{{ m.name }}</span>
        </a>
      </li>
    </ul>
  </div>

</div>
